# Path: ensure common user bin dirs and chezmoi-managed bin are available
export PATH="$HOME/.local/share/chezmoi/bin:$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH"

{{ if eq .chezmoi.os "linux" }}
export PATH="/opt/nvim-linux-x86_64/bin:$PATH"
{{ end }}

# 2. Enable Powerlevel10k instant prompt if it exists
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

fpath=(~/.zsh/completions $fpath)
fpath=(~/.zsh/functions $fpath)

autoload -Uz compinit
autoload -Uz ~/.zsh/functions/*(:t)
compinit

# zsh-users
[[ ! -f ~/.zsh/zsh-completions/zsh-completions.zsh ]] || source ~/.zsh/zsh-completions/zsh-completions.zsh
[[ ! -f ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh ]] || source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
[[ ! -f ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]] || source ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
[[ ! -f ~/.zsh/zsh-history-substring-search/zsh-history-substring-search.zsh ]] || source ~/.zsh/zsh-history-substring-search/zsh-history-substring-search.zsh

bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

# themes
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
[[ ! -f ~/.local/share/powerlevel10k/powerlevel10k.zsh-theme ]] || source ~/.local/share/powerlevel10k/powerlevel10k.zsh-theme

# fzf
[[ ! -f ~/.zsh/fzf-tab/fzf-tab.zsh ]] || source ~/.zsh/fzf-tab/fzf-tab.zsh
[[ ! -f ~/.zsh/zsh-fzf-history-search/zsh-fzf-history-search.zsh ]] || source ~/.zsh/zsh-fzf-history-search/zsh-fzf-history-search.zsh

# Aliases
for f in ~/.zsh/aliases/*.zsh; do
    source "$f"
done
